{% extends 'main/base.html' %}

{% block title %} Add New Post {% endblock %}

{% block content %}

<h1> Add Post </h1>
<div class="row">
    <div class="col-6" >
        <form class="d-flex flex-colum gap-2" action="{% url 'main:add_post_view' %}" method="post">
            {% csrf_token %}
            <input type="text" placeholder="Title" name="title" class="form-control">
            <textarea placeholder="Content" name="content" class="form-control"></textarea>

            <input type="submit" value="Add Post" class=" btn btn-primary"/>
        
        </form>
    </div>
</div>
{% endblock %}




