{% extends "blog/base.html" %}
{% load static %}

{% block title %}Home{% endblock %}

{% block fileStyle %}

<link rel="stylesheet" href="{% static 'css/index.css' %}">
<!-- <meta http-equiv="refresh" content="4"> -->

{% endblock %}

{% block content %}


<div class="posts">


    {% if posts %}
    {% for post in posts %}
    
        <div class="post">
            <img src="{{post.poster.url}}" alt="blog Photo">
            <a href="{% url 'blog:post_details_view' post.id %}"><h3>{{ post.title }}</h3></a>
            <p>Published at: {{ post.published_at }}</p>
        </div>
    {% endfor %}
    {% else %}
    <p>No posts yet.</p>
    {% endif %}
</div>

{% endblock %}
 