body{
    font-family: sans-serif;
    background-color: white;
    color: #333;
    margin: 0;
    padding: 0;
}

.upper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem 2rem;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);

}

.upper a h1{
    margin: 0;
    font-size: 1.8rem;
    color:cornflowerblue;
}

.upper_right {
    display: flex;
    flex-direction: row;
    justify-content: right;
    gap: 1.3rem;
}

.upper_right a p {
    margin: 0;
    padding: 0.5rem 1rem;
    background-color:cornflowerblue;
    color: white;
    border-radius: 6px;
    transition: 0.3s;
}

.upper_right a p:hover{
    background-color:rgb(2, 60, 168);
    color: white;
}

.middle{
    flex: 1;
    display: flex;
    justify-content: center;
}

.middle input{  
    width: 25rem;
    height: 1.5rem;
    border-radius: 15px;
}

.create{
    background-color: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}

.create h2{
    margin-bottom: 1.5rem;
    font-weight: 600;
    color: #333;
}

.post_content{
    margin-top: 2rem;
    margin-left: 2.9rem;
    margin-right: 2.9rem;
}

.h2_post{
    margin: 2rem 2.9rem 1rem 2.9rem;
    font-size: 1.8rem;
    font-weight: 600;
}

.post{
    color: white;
    padding: 1.5rem 2rem;
    border-radius: 10px;
    margin-left: 2.9rem;
    margin-right: 2.9rem;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.05);
    transition: tranform 0.2s ease, box-showdow 0.2s ease;
    gap: 1.2rem;
}

.post h6{
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
    color: lightgrey;
}

.post h5{
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
    color: #333;
}

.post p{
    font-size: 0.95rem;
    margin-bottom: 0;
    color: rgb(225, 225, 225);
}

.post:hover{
    transform: translateY(-4px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.h2_post {
    margin-top: 2rem;
    margin-left: 2.9rem;
    margin-right: 2.9rem;
}

a{
    text-decoration: none;
}

input[type="submit"].btn{
    width: fit-content;
    padding: 0.5rem 1.5rem;
    font-weight: 500;
    border-radius: 6px;
    margin-top: 1rem;
}
