* {
    padding:0;
    margin:0;
}

body { 
    padding: 2rem;
}

nav {
    display: flex;
    flex-direction: row;
    background-color: #f0f0f0;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
    position: sticky;
    top: 0;
    border-radius: 2rem;
    z-index: 1000;
}

.nav-link {
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 1rem;
    padding: 1rem;
    border-radius: 0.25rem;
    transition: all 0.3s ease;
}


nav a:hover {
    color: #007BFF;
}

main{
    margin: 3rem;
}
table{
    width: 100%;
}

td, th {
    border: 1px solid #000;
    text-align: left;
    padding: 8px;
}
  
tr:nth-child(even) {
    background-color: #dddddd;
}

form{
    display: flex;
    flex-direction: column;
    width: 100%; 
}

input,textarea,select {
    padding: 1rem;
    margin-bottom: 0.5rem; 
    border: 0.1rem solid #ccc;
    border-radius: 1.5rem;
}

button {
    margin-top: 0.2rem;
    padding:1rem;
    border-radius: 1.5rem;
    border:0;
    background-color: black;
    color:white;
    cursor: pointer;
}

.viewbutton{
    background-color: blue;
    color: white;
    padding:0.5rem;
    text-decoration: none;
    border-radius: 1rem;
}
.editbutton{
    background-color: black;
    color: white;
    padding:0.5rem;
    text-decoration: none;
    border-radius: 1rem;
}
.deletebutton{
    background-color: red;
    color: white;
    padding:0.5rem;
    text-decoration: none;
    border-radius: 1rem;
}

.post-details{
    width: 100%;
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
}

.post-title{
    font-size: 3rem; 
    text-align: center; 
    margin-bottom: 3rem;
     font-weight: bold;
}

.post-image{
    border-radius: 2rem; 
    margin-bottom: 3rem;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.post-content{
    text-align: justify; 
    font-size: 1.2rem; 
    padding: 2rem; 
    border-radius: 2rem; 
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.post-details-part{
 margin-top: 3rem;
 display: flex; 
 justify-content: space-between; 
 align-items: center; 
 width: 80%; 
 border-top: 1px solid #ccc; 
 padding-top: 2rem;
}