{% extends 'base.html' %}

{% block content %}
    <h2>Latest Posts</h2>
    <ul>
        {% for post in posts %}
            <li style="display: flex; align-items: center; margin-bottom: 20px;">
                {% if post.media %}
                    <img src="{{ post./media.url }}" alt="{{ post.title }}">
                {% endif %}
                <div>
                    <h3>{{ post.title }}</h3>
                    <p>{{ post.content|truncatewords:30 }}</p>
                    <small>Published at {{ post.published_at }}</small>
                </div>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
