{% extends 'main/base.html' %}
{% block title %}{{ post.title }}{% endblock %}
{% block content %}
<div class="container">
  <h1 class="heading">{{ post.title }}</h1>

  
  <img src="{{ post.image.url }}" class="img-fluid rounded mb-3" alt="{{ post.title }}">
  <p>{{ post.content }}</p>
  <p class="text-muted">Published at: {{ post.published_at|date:"Y/m/d H:i" }}</p>
  <div class="mt-4 d-flex gap-2">


    <a href="{% url 'main:post_update_view' post.id %}" class="btn btn-warning">Edit</a>
    <a href="{% url 'main:post_delete_view' post.id %}" class="btn btn-danger">Delete</a>
  </div>
</div>
{% endblock %}