{% extends 'base.html'%}

{% block title %} Add Post {% endblock %}

{% block main %}

    <div class="d-flex justify-content-center align-items-center" style="min-height: 80vh;">
        <div class="add-container">
            <h2>Add New Post</h2>

            <form action="{% url 'main:add_view'%}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="mb-3">
                    <input type="text" placeholder="Enter the Title" name="title" class="form-control" id="Title" required>
                </div>

                <div class="mb-3">
                    <textarea name="content" placeholder="Type the content" class="form-control" required></textarea>
                </div>



                <div class="mb-3">
                    <input type="datetime-local" name="published_at" class="form-control"
                        value="{{ now|date:'Y-m-d\\TH:i' }}">
                </div>

                
                <input type="file" name = "image" class="form-control">
                


                <button type="submit" class="btn btn-primary m-3">Add</button>
                <a href="/" class="btn btn-primary m-3">Back</a>
            </form>
            
        </div>
    </div>

{% endblock %}