{% extends 'base.html'%}

{% block title %} Details {% endblock %}

{% block main %}



<div class="d-flex justify-content-center align-items-center" style="min-height: 80vh;">
    <div class="details-container">
        <h2> {{post.title}} </h2>
        <p class="date"> {{post.published_at}} </p>
        <img src="{{post.image.url}}" >
        <p> {{post.content}} </p>

          
        <button type="button" class="btn btn-danger m-3" data-bs-toggle="modal" data-bs-target="#exampleModal">Delete</button>  
        <a href="{% url 'main:update_view' post.id%}" class="btn btn-primary m-3">Update</a>    
        <a href="/" class="btn btn-primary m-3">Back</a>

    </div>

    
    </div>




<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Delete Post</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Please confirm the deletion of "{{post.title}}". 
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <a href="{% url 'main:delete_view' post.id%}" class="btn btn-danger m-3">Delete</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}