{% extends 'base.html' %}


{% block content %}

<main>

    
    <h1>Posts:</h1>

    <br><br>
    <table>
        <tr>
            <th>#</th>
            <th>title</th>
            <th>content</th>
            <th>publish status</th>
            <th>published at</th>
        </tr>

       {% for post in posts %}
       <tr>
       <td>{{post.id}}</td>
       <td>{{post.title}}</td>
       <td>{{post.content}}</td>
       <td>{{post.is_published}}</td>
       <td>{{post.published_at}}</td>
    </tr>
       {% endfor %}


    </table>
</main>

{% endblock %}