{% extends 'base.html'%}

{% block title %} Home {% endblock %}


{% block main%}

<main class="blog-container">

    </article>

    {% if posts %}
      {% for post in posts %}
        <article class="post">
          
            <h2> {{post.title}} </h2>
            <p class="date"> {{post.published_at}} </p>
            <img src="{{post.image.url}}" class="w-100">
            <p> {{post.content}} </p>
            <a href="#">Read more</a>
        
        </article>
      {% endfor %}
    {% else %}
      <h3 style="margin-bottom: 2rem; text-align: center;">No posts available.</h3>
    {% endif %}


    
    <a href="{% url 'main:add_view'%}" class="btn btn-primary w-100">Add Post</a>

    
</main>

{% endblock %}